:root {
  --main-Color-li: #3a98b9;
  --welcome-Color-li: #3a98b9;
  --text-Color-li: white;
  --icon-Color-li: #1c6dd0;
  --icon-Color-wel: #1c6dd0;
  --border-Color-li: #1c6dd0;
  --bg-body-color: white;
  --bg-sign-color: white;
  --text-sign-color: #3a98b9;
}

.dark {
  --icon-Color-li: #1b2430;
  --border-Color-li: #1b2430;
  --main-Color-li: #810ca8;
  --bg-body-color: #1b2430;
  --welcome-Color-li: white;
  --icon-Color-wel: #810ca8;
  --bg-sign-color: #810ca8;
  --text-sign-color: #1b2430;
}
